<footer>
	<article class="getintouch">
		<h2>Get In Touch</h2>
		<div class="profile">
			<img src="" alt="a picture of me"/>
			<p>Need something here that is personal and relatable about getting in touch. Do I really want people contacting me?</p>
		</div>
		<div class="contact">
			<a href="mailto:#">Email</a>
			<a href="https://linkedin.com" />LinkedIn</a>

		</div>
		<div class="bestlists">
			<ul>
				<li>List Item 1</li>
				<li>List Item 1</li>
				<li>List Item 1</li>
				<li>List Item 1</li>
				<li>List Item 1</li>
				<li>List Item 1</li>
			</ul>
			<ul>
				<li>List Item 1</li>
				<li>List Item 1</li>
				<li>List Item 1</li>
				<li>List Item 1</li>
			</ul>
			<ul>
				<li>List Item 1</li>
				<li>List Item 1</li>
				<li>List Item 1</li>
			</ul>
		</div>
	</article>
	<article class="thankyou">
		<img src="" alt="Thank you for looking."/>


	</article>
</footer>
</body>
</html>
