<div id="wrapper_header">
	<div id="header">

		<!-- INTRODUCTION -->
		<header id="intro">
			<img src="{{ '/assets/images/profile02.jpg' | relative_url }}" alt="Photo of Martin"/>
			
			<div class="title">
				<h1><a href="/">
						<!-- <img src="{{ '/assets/images/logo-blue.svg' | relative_url }}" alt="Martin Peace | Design & Development"/> -->
						<span class="name">Martin Peace</span>
				</a></h1>
			<div class="location">Alexandria, VA</div>
			</div>
		</header>
		<!-- INTRODUCTION END -->

		{% include nav.html %}

	</div>
</div>
