    <!-- MENU -->
    <div id="nav-icon3">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav class="nav-primary" role="navigation" >
        <ul id="menu">
            {% assign mypages = site.pages | sort: "order" %}
                {% for page in mypages %}
                    <li {% if page.url == p.url %} class="active" {% endif %}>
                        <a href="{{ page.url | absolute_url }}">{{ page.title }}</a>
                    </li>
                {% endfor %}
        </ul>
    
    </nav>
    <!-- MENU END -->
