{% include head-case.html %}

	{% include header-case.html %}

	<main>
	    <div id="wrapper_work">
	        <section id="work" class="casestudy">

				<img src="{{ page.mockup }}" />	
    		    <h2>{{ page.title }}</h2>
    		    {{ content }}


				<div class="cases">
					<h4>Select another case study to read</h4>
					<ul>
						{% for item in site.data.menulist.docs %}
						  <li class="{% if item.url == page.url %}active{% endif %} ">
							  <a href="{{ item.url }}">{{ item.title }}<span>{{ item.summary }}</span></a>
						  </li>
					   {% endfor %}
					</ul>
				</div>
    	    </section>
			
			
			
        </div>    
	</main>

{% include foot-case.html %}
