@import "_config";
@import "_typography";

/*  ------------

	NAV
	This is for the small menu that is located in the top right corner of the browser window.
	Also called a hamburger menu

*/
	nav {
		position: fixed;
		right: 0;
		top: 0;
		z-index: 10000;
		width: 100%;
		text-align: right;

		@include mobile {
			text-align: left;
		}
	}

	/*
	 * Make this absolute positioned
	 * at the top left of the screen
	 */
	#menu {
		display: none;
		background: rgba($black,.99);
		padding: 96px 0;
		@include mobile {
			padding: 54px 0;
		}
	}

	#menu li {border: 0 solid red;
	  	padding: 5px 140px 10px 20px;
	  	line-height: 1;
		  @include tablet {
			  padding-right: 50px;
		  }
	}
	/*
	#menu a:before {
		content: 'Case Study';
		display: block;
		font-size: 12px;
		opacity: .4;
		position: relative;
		top: -4px;
		text-transform: uppercase;
		letter-spacing: 2px;
		
		@include mobile {
			font-size: 10px;
		}
	}
	*/

	.open {
		transition: all 500ms ease-in;
	}

/*  ------------

	Sticky

*/

	.is_stuck {
		@include desktop_micro {
			position: relative!important;
		}
	}
