//
//	Global Config
//

//Fonts
	@font-face {
		font-family: 'PPFormula-Extrabold';
		src: url('webfonts/PPFormula-Extrabold.woff');
		src: url('webfonts/PPFormula-Extrabold.woff?#iefix') format('embedded-opentype'),
			url('webfonts/PPFormula-Extrabold.woff2') format('woff2'),
			url('webfonts/PPFormula-Extrabold.woff') format('woff'),
			url('webfonts/PPFormula-Extrabold.tff') format('truetype');
	}
	
	@font-face {
		font-family: 'PPFormula-Regular';
		src: url('webfonts/PPFormula-Regular.woff');
		src: url('webfonts/PPFormula-Regular.woff?#iefix') format('embedded-opentype'),
		url('webfonts/PPFormula-Regular.woff2') format('woff2'),
		url('webfonts/PPFormula-Regular.woff') format('woff'),
		url('webfonts/PPFormula-Regular.ttf') format('truetype');
	}
	

$font-family--primary: 'PPFormula-Extrabold', 'Helvetica', Helvetica, Arial , sans-serif;
$font-family--secondary: 'PPFormula-Regular', 'Helvetica Regular', Helvetica, Arial , sans-serif;
$font-family--body: 'PPFormula-Regular', serif;
$font-family--mono: mono, Menlo , Courier, sans-serif;

$font-weight--light: 		300;
$font-weight--normal: 		400;
$font-weight--bold: 		700;
$font-weight--black: 		900;


//Colors
$lime: 				#c7f014;
$black:				#18191E;
$white:				#fdfdfd;
$blue:				#ff9900;
$lightblue:			#7D84B2;
$darkblue:			#405770;
$electricblue:		#ff9900;
$grey:				#fafafa;
$greyer:			#f0f0f0;


//Color Usage
$color-primary: 		$lime;
$color-dark: 			$black;
$color-light: 			$white;
$color-secondary: 		$electricblue;


//Text
$base__font-size: 		16px;
$base__line-height: 	24px;
$base__text-color:		$color-dark;


//Path to Assets
$path--rel			: "../img";


//Maths for width

$main-width			:600px;


//Media Queries


$desktop-width: 1196px;
$desktop-width_micro: 900px; //width where the heading and projects collide
$tablet-width: 768px;
$tablet-width_micro01: 630px;
$mobile-width: 480px;


@mixin desktop {
	@media (max-width: #{$desktop-width}) {
		@content;
	}
}

	@mixin desktop_micro {
		@media (max-width: #{$desktop-width_micro}) {
			@content;
		}
	}

@mixin tablet {
	@media (max-width: #{$tablet-width}) {
		@content;
	}
}

	@mixin tablet_micro01 {
		@media (max-width: #{$tablet-width_micro01}) {
			@content;
		}
	}

@mixin mobile {
	@media (max-width: #{$mobile-width}) {
		@content;
	}
}

	//Usage
	//@include mobile {height:100px;}
	//@include mobile {height:100px;}



