

html,body {
	height: 100%;
}


html {
	height: 100%;
	min-height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat:no-repeat;
	background: $white;
	background: linear-gradient(195deg, rgba(255, 195, 128, 0.05) 12.7%, rgba(89, 56, 19, 0.05) 57.49%), var(--White, #FFF);

	
	background-attachment: fixed;
}

body {
	/*
	background: $black;

	@include tablet {background:red;}
	@include tablet_micro01 {background:green;}
	@include mobile {background:blue;}
	*/
}
#wrapper_header {
	//background:  url('../img/bg_header.jpg') no-repeat;
	//background-size: cover;
	}


header {//outline:1px solid red;
	position: relative;

	margin: 0 auto;
	padding: 0 18px;
	//max-width: $main-width;
	width: 100%;

	display: flex;

	@extend .clearfix;

	@include desktop {}
	@include tablet {padding: 0 0;}
	@include mobile {padding: 0 0;}
}

#wrapper_work {border: 0 solid red;
	width: 100%;
	background: none;


	z-index: 1000;
	padding: 36px 0;
	margin: 18px 0;

	@include desktop {padding: 36px 18px 0;}
	@include tablet {padding: 36px 18px 0;}
	@include mobile {padding: 36px 18px 0;}
	}
	#work {
		//border-bottom: 3px solid #e0e0e0;
		max-width: $main-width;
		width: 100%;
		margin: 0 auto;
		padding: 18px 0 0;

		//background: blue;
	}


#intro {
	max-width: 1140px;
	//margin-top:36px;
	margin-bottom: 54px;

	text-align: left;
	display: block;

	@include mobile {
		margin-bottom: 0;
	}
}



.row {
	margin: 20px auto;
	width:100%;
	height:100%;
	//background-color:#fff;
	display:grid;
	grid-template-columns:49% 49%;
	grid-row: auto auto;
	grid-column-gap: 20px;
	grid-row-gap: 20px;  
	@include tablet {
		grid-template-columns: 100%;
	}
}

.row > div {
	//background-color:#333;
	//padding:20px;
	//border-radius:10px;
	//color:#fff;
	display:flex;
	align-items:center;
	//justify-content:center;
	font-size:40px;
	font-family:sans-serif;
}
.readingcontainer {
	max-width: 650px;
	max-width: 65em;
}





article {
	margin-bottom: 90px;
	height: auto;
	max-width: 876px;
	width: 100%;


	}
	article:after {
		@extend .clearfix;
	}

	article header {border:0 solid yellow;

		float: left;
		max-width: 214px;
		max-width: 24.43%;
		padding: 0;
		margin: 0;


		@include desktop {
		}
		@include desktop_micro {
			float: none;
			width: 50%;
		}
		@include tablet {
			width: 100%;
			max-width: 100%;
		}
	}
	article .project {border: 0 solid yellow;
		float: right;
		max-width: 69.86%;
		//max-width: 590px;

		@include desktop_micro {
			float: none;
			max-width: 100%;
			width: 100%;
		}

			@include tablet {

				width: 100%;
			}
	}




#wrapper_about {border:0 solid red;
	//min-height: 756px;
	width: 100%;
	@extend .clearfix;
	}

	#about {border:0 solid red;
		//background: #0c111b url('../img/stars.png') repeat-x;
		//background-size: cover;
	  	position: relative;
	  	z-index: 1;

	  	@include desktop {padding: 0 18px;}

	  	&:before,
	  	&:after {
	    		background: inherit;
	    		content: '';
	    		display: block;
	    		height: 50%;
	    		left: 0;
	    		position: absolute;
	    		right: 0;
	    		z-index: -1;
	    		-webkit-backface-visibility: hidden;
	 	 }

	  	&:before {
	   		top: 0;
	   		transform: skewY(-1.5deg);
	   		transform-origin: 0 100%;
	 	 }

	  	&:after {
	    		bottom: 0;
	    		transform: skewY(-1.5deg);
	    		transform-origin: 0 100%;
	  	}
	}
		#about article { border: 0 solid red;
			max-width: 1120px;
			//padding: 90px 0;
			margin: 90px auto;
			width: 100%;
			}
			#about article h3,
			#about article p {max-width: 590px;}

.grid {
	margin-top: 72px;
	
	h3 {
		border-top: 3px solid #EFECEA;
		//opacity: 0.05;
		//background: #0D0D0D;
		color: #9D9B9B;
		@include font-size(2.0);
		
		padding: 36px 0 18px 0;
		margin: 0;
	}
}

footer {
	width: 100%;
    background: $black;
    color: $white;
    padding: 96px 0 0;
    article {
    	max-width: 1140px;
    	margin: 0 auto;
    }
    article.thankyou {
    	max-width: 100%;
		background: #fdfdfd;
		width: 100%;
		text-align: center;
		padding: 54px 0 4px;
    }
}


.bestlists {
	
	display: flex;
	max-width: 1120px;
	padding: 54px var(--Number, 0px);
	margin: 54px 0 ;
	
	justify-content: space-between;
	align-items: flex-start;
	align-self: stretch;
	border-top: 3px solid #29292B;
	
	@include tablet {
		display: block;
	}
	
	

	ul {
		
		display: flex;
		width: auto;
		min-width: 100px;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;
		
	}
	
	 li {
		margin: 0;
		padding: 0;
		line-height: 1;
	}
}


.getintouch {
	max-width: 1120px;
	margin: 0 auto;
	padding:0;
	@include desktop {
		padding:0 18px;
	}
	@include desktop_micro {}
}

.thankyou {
	background: $white;
	width: 100%;
	text-align: center;
	padding: 54px 0;
	
	img {
		width: 1120px;
	}
}

.legal {
 	display: flex;
    align-items: center;             /*center children*/
    justify-content: space-between; 
    max-width: 1140px;
    margin: 36px auto 0;
	color: $black;
}



#footer {border: 0;
	width: 100%;
	margin: 0 0;
	padding: 90px 0;
	display: block;

	//background: $black;

  	position: relative;
  	z-index: 1;


  	min-height: 300px;

  	/*
  	&:before,
  	&:after {
    	background: inherit;
    	content: '';
    	display: block;
    	height: 50%;
    	left: 0;
    	position: absolute;
    	right: 0;
    	z-index: -1;
    	-webkit-backface-visibility: hidden;
 	 }

  	&:before {
   		top: 0;
   		transform: skewY(-1.5deg);
   		transform-origin: 0 100%;
 	 }

  	&:after {
    	bottom: 0;
    	transform: skewY(-1.5deg);
    	transform-origin: 0 100%;
  	}
  	*/
}

	#footer article {
		max-width: 1140px;
		margin: 0 auto;
		width: 100%;

		@include mobile {@include font-size(2.4);}
	}
