

html,body {
	height: 100%;
}

/* Light mode */

	html {
		height: 100%;
		min-height: 100%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat:no-repeat;
		background: $white;
		background: linear-gradient(195deg, rgba(255, 195, 128, 0.02) 12.7%, rgba(89, 56, 19, 0.02) 57.49%), var(--White, #FFF);
		
		background: rgb(255,255,255);
		background: linear-gradient(150deg, rgba(255,255,255,1) 0%, rgba(255,195,128,0.03) 35%, rgba(28,16,3,0.05) 100%);
		
		
		background-attachment: fixed;
	}

#wrapper_header {
	//background:  url('../img/bg_header.jpg') no-repeat;
	//background-size: cover;
	
	@include desktop {padding: 0 0 0;}
	@include tablet {padding: 0 18px 0;}
	@include mobile {padding: 0 18px 0;}
	}


header {//outline:1px solid red;
	position: relative;

	margin: 0 auto;
	padding: 0 0;
	//max-width: $main-width;
	width: 100%;

	display: flex;

	@extend .clearfix;

	@include desktop {}
	@include tablet {padding: 0 0;}
	@include mobile {padding: 0 0;}
}



#wrapper_work {border: 0 solid red;
	width: 100%;
	background: none;


	z-index: 1000;
	padding: 36px 0 0;
	margin: 18px 0 0;

	//@include desktop {padding: 36px 18px 0;}
	@include tablet {padding: 18px 18px 0;}
	@include mobile {padding: 0 18px 0;}
	}
	#work {
		//border-bottom: 3px solid #e0e0e0;
		//max-width: $main-width;
		width: 100%;
		margin: 0 auto;
		padding: 0 0 0;

		//background: blue;
	}

	#wrapper_header,
	#wrapper_work {
		max-width: 76em;
		margin: 0 auto;
	}

#intro {
	//max-width: $main-width;
	//margin-top:36px;
	margin-bottom: 0;

	text-align: left;
	display: block;

	@include mobile {
		margin-bottom: 0;
		margin-top: 54px;

	}
}



.row {
	margin: 20px auto;
	width:100%;
	height:100%;
	//background-color:#fff;
	display:grid;
	grid-template-columns:24.25% 24.25% 24.25% 24.25%; 
	grid-template-columns: 50% 50%; 
	
	grid-row: auto auto;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	  
	@include tablet {
		grid-template-columns:49% 49%;
	}
	@include mobile {
		
		grid-template-columns: 100%;
	}
}

.row > div {
	//background-color:#333;
	//padding:20px;
	//border-radius:10px;
	//color:#fff;
	
	//justify-content:center;
	font-size:40px;
	font-family:sans-serif;
	@include tablet {
		
		align-items:center;
	}
	@include mobile {
		
	}
}
.readingcontainer {
	max-width: 650px;
	max-width: 65em;
}





article {
	margin-bottom: 90px;
	height: auto;
	max-width: 876px;
	width: 100%;
	}
	article:after {
		@extend .clearfix;
	}

	article header {border:0 solid yellow;
		float: left;
		max-width: 214px;
		max-width: 24.43%;
		padding: 0;
		margin: 0;
		@include desktop {}
		@include desktop_micro {
			float: none;
			width: 50%;
		}
		@include tablet {
			width: 100%;
			max-width: 100%;
		}
	}
	article .project {border: 0 solid yellow;
		float: right;
		max-width: 69.86%;
		//max-width: 590px;

		@include desktop_micro {
			float: none;
			max-width: 100%;
			width: 100%;
		}
		@include tablet {

			width: 100%;
		}
	}


main {
	@extend .clearfix;
}


#wrapper_about {border:0 solid red;
	//min-height: 756px;
	width: 100%;
	@extend .clearfix;
	}

	#about {border:0 solid red;
		//background: #0c111b url('../img/stars.png') repeat-x;
		//background-size: cover;
	  	position: relative;
	  	z-index: 1;

	  	@include desktop {padding: 0 18px;}

	  	&:before,
	  	&:after {
	    	background: inherit;
	    	content: '';
	    	display: block;
	    	height: 50%;
	    	left: 0;
	    	position: absolute;
	    	right: 0;
	    	z-index: -1;
	    	-webkit-backface-visibility: hidden;
	 	 }

	  	&:before {
	   		top: 0;
	   		transform: skewY(-1.5deg);
	   		transform-origin: 0 100%;
	 	 }

	  	&:after {
	    	bottom: 0;
	    	transform: skewY(-1.5deg);
	    	transform-origin: 0 100%;
	  	}
	}
		#about article { border: 0 solid red;
			max-width: 1120px;
			//padding: 90px 0;
			margin: 90px auto;
			width: 100%;
			}
			#about article h3,
			#about article p {max-width: 590px;}

.grid {
	margin-top: 72px;
	@include tablet {
		margin-top: 42px;
	}
	
	h3 {
		//border-top: 2px solid rgba(216, 201, 184, .2);
		
		//opacity: 0.05;
		//background: #0D0D0D;
		//color: #9D9B9B;
		@include font-size(2.0);
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 4px;
		text-transform: uppercase;
		margin: 42px 0 24px 0;
		opacity: .8;
		padding: 36px 0 18px;
		margin: 0;
		font-family: $font-family--primary;
	}
}

footer {
	width: 100%;
    background: $black;
	border-top: 1px solid #36363D;
	background: radial-gradient(431.88% 99.77% at 35.14% 41.95%, rgba(178, 188, 255, 0.10) 0%, rgba(125, 132, 178, 0.00) 100%), #111113;
    color: $white;
    padding: 42px 0 0;
	margin-top: 54px;
	
	@include mobile {
		padding: 0 1em;
	}
	
    article {
    	max-width: 1140px;
    	margin: 0 auto;
    }
    article.thankyou {
    	max-width: 100%;
		background: #fdfdfd;
		width: 100%;
		text-align: center;
		padding: 54px 0 4px;
    }
}


.bestlists {
	//display: flex;
    //	max-width: 1120px;
  	//margin: 12px 0 12px;
  	//justify-content: space-between;
  	//align-items: flex-start;
  	//	align-self: stretch;
  	//	padding: 36px;
	
	@include tablet {
		display: block;
	}

	ul {
		display: flex;
		flex: 2 1 auto;
		width: auto;
		min-width: 100px;
		flex-direction: column;
		align-items: flex-start;
		gap: 3px;
		margin-top: 0;
		  
		@include mobile {
			max-width: 100%;
			gap: 12px;
		}
	}
	
	 li {
		margin: 0;
		padding: 0 0;
		line-height: 1;
	}
}

.getintouch {
	//max-width: $main-width;
	max-width: 76em;
	margin: 0 auto;
	padding: 0 1em;
	@include desktop {
		padding:0 1em;
	}
	@include desktop_micro {}
	@include tablet {
		padding: 0 18px;
	}
	figure {
		border: 1px solid;
	}
}

.thankyou {
	background: $white;
	width: 100%;
	text-align: center;
	padding: 54px 0;
	
	img {
		width: 860px;
		//max-width: 
	}
}

.legal {
 	//display: flex;
   // align-items: center;             /*center children*/
    //justify-content: space-between; 
	text-align: left;
    max-width: 1140px;
    margin: 12px auto 8px;
	padding: 1em 0 2em;
	opacity: .6;
	//color: $black;
}



#footer {border: 0;
	width: 100%;
	margin: 0 0;
	padding: 2px 0 0 0;
	display: block;

	//background: $black;

  	position: relative;
  	z-index: 1;


  	min-height: 300px;

  	/*
  	&:before,
  	&:after {
    	background: inherit;
    	content: '';
    	display: block;
    	height: 50%;
    	left: 0;
    	position: absolute;
    	right: 0;
    	z-index: -1;
    	-webkit-backface-visibility: hidden;
 	 }

  	&:before {
   		top: 0;
   		transform: skewY(-1.5deg);
   		transform-origin: 0 100%;
 	 }

  	&:after {
    	bottom: 0;
    	transform: skewY(-1.5deg);
    	transform-origin: 0 100%;
  	}
  	*/
}

	#footer article {
		max-width: 1140px;
		margin: 0 auto;
		width: 100%;

		@include mobile {@include font-size(2.4);}
	}


/*———————————————————————————————————————————————————————————————— 

	Dark mode 

———————————————————————————————————————————————————————————————— */

	@media (prefers-color-scheme: dark) {
		html {
			height: 100%;
			min-height: 100%;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			background-repeat:no-repeat;
			background: black;
			background: linear-gradient(331deg, rgba(255, 255, 255, 0.00) 46.77%, rgba(255, 255, 255, 0.05) 104.56%), #111113;
						
			background-attachment: fixed;
		}
		
		#work #intro p,
		h3,
		.projectdetails,
		p,li, .portfoliocard h4,
		.readingcontainer h4 {
			color: $white!important;
		}
		.grid h3 {
			border-top: 3px solid #373737;
		}
		
		.portfoliocard {
			background: linear-gradient(135deg, #29292C -52.79%, #050506 268.26%), #000 !important;
			border: 1px solid #373737!important;
		}
		.portfoliocard:hover {
			background: #000!important;
			border: 1px solid rgba(#0e101a,1)!important;
			box-shadow: 4px 4px 18px #000!important;
		}
		.portfoliocard a + a {
			background: rgba($white,.1) !important;
			color: rgba(#f90,1) !important;
		}
		.portfoliocard a + a:hover {
			background: #f90 !important;
			color: $white !important;
		}
		
		.cases h4 {color:$white !important;}
		.cases li a {
			color:$white !important;
		}
		.callout {border: 3px solid #4a4a4a !important;}
		.callout h5 {color: $white !important;}
		
		.cases li a {
			background: linear-gradient(135deg, #29292C -52.79%, #050506 268.26%), #000 !important;
			border: 1px solid #373737 !important;
			}
		#intro a {color: $white;}
		.casestudy h2 {
			color: #FFC580!important;
			color: transparent!important;
			background-image: linear-gradient(45deg, #FFC580, #AF847D)!important;
			background-clip: text!important;
			-webkit-background-clip: text!important;
		}
		.timeline .row a {color: $white!important;}
		
		.fancyunderline {
			@include linkUnderlinesDark(black, $lightblue !important);
		}
		
		.fancyunderline:hover {
			 @include linkUnderlinesDark($black, $lightblue !important);
		}
		
	}