/*------------

	HEADER

*/

	#intro h1 {
		padding: 0;
		//margin: 12px 0 96px 0;
		text-align: left;

		//max-width: 590px;

		@include tablet {padding: 0 18px; }
		@include mobile {
			padding: 54px 18px 0;
			margin: 49px 0 0 0;
		}
	}
	#intro a {

	}


	#intro svg {
		max-width:250px;
	}

	#intro img {
		max-width: 200px;
		top: 0;
    	position: relative;
	}

	#intro p  {
		text-align: left;
		margin: 0;
		//padding: 0 172px;

		//max-width: 578px;
		//max-width: 14em;
	}

	#intro p {
		//border: 1px solid pink;
		margin-top: 18px;
	}
	#intro h1 {}
	#work {}

	#trade {


		@include mobile {
			margin-bottom: 35px;
		}
	}
	
	h1.elegantshadow {
		margin-top: 6em;
	}

	/*
		jump to work link
		//dont style #jump
	*/

	#jump .btn {
		height: 40px;
		max-width: 260px;
		text-align: center;
		color: $darkblue;
		background: #141c27;
		display: block;
		padding: 8px 12px 4px;
		margin: auto;
 	 	position: relative;
  		left: 0;
  		bottom: -100px;
  		right: 0;
  		z-index: 1;
  		overflow: hidden;

		-webkit-transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
		transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
		@include mobile {
			bottom: -35px;
			height: 36px;
			max-width: 200px;
			}
		}
		#jump .btn:hover {
			/*
			left: 10px;
			padding: 2px 8px 2px 30px;.
			*/
			//background: $electricblue;
			//background: #186ffe;
			//color: $white;
			text-decoration: none;
			padding: 8px 49px 4px 12px;
		}

	#jump .btn:after {border: 1px solid transparent;
		background: url('../img/arrow_downward_white.svg') no-repeat;
		position: absolute;

		top: 12px;
		right: -100px;
		text-align: center;
		margin: 0;

		display: inline-block;
		content: '';
		height: 16px;
		width: 20px;
		transition: all 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
		transform: rotate(0deg);
		transform-origin: center center;
	}
	#jump .btn:hover:after {
		margin: 0;

		right: 18px;
	}



	h3 img {
    	position: absolute;
    	top: 0;
    	right: 0;
    	width: 660px;
		}


/* Reading Container for the Case Studies */


	.readingcontainer ul {
		display: inline-block;
		
		li {
			display: inline-block;
			margin: 0;
		}
		
		span {
			display: inline;
		}
	}




		.content img {
			margin-bottom: 24px;
		}

		.colCenter {
    		position: relative;
    		background: red;
    		top: -230px;
    		z-index: 10000000000;
    		max-width: 640px;
    		margin: 0 auto;
    		padding: 6em 6em;
		}


.portfoliocard {
	border: 1px solid #e8e8e8;
	background: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	border-radius: 0px;
	background: linear-gradient(137deg, #FFF 54.83%, #CCC 266.74%), var(--White, #FFF);
	position: relative;
	top: 0;
	
	// While hovering
	// Change to: "Variant2";
	// Animate: Smart animate;
	animation-timing-function: ease-out;
	animation-duration: 150ms;

	margin-top: -20px;
	margin-bottom: 20px;
	transition: 1s;
	
	img {
		position: relative;
		right: 1px;
		min-width: 570px;
		min-height: 359px;
	}

	h4 {
		font-size: 40px;
		font-style: normal;
		font-weight: 800;
		line-height: 40px; /* 100% */
		letter-spacing: 0.4px;
		color: $black;
	}
	h4:before {
		display: block;
		content: 'Case Study';

		@include font-size(1.2);
		font-style: normal;
		font-weight: 800;
		line-height: 14px; /* 116.667% */
		letter-spacing: 9px;
		text-transform: uppercase;

		    position: relative;
    		top: -8px;
    		margin: 18px 0 12px 0;
	}
	a {
		font-size: 14px;
		font-style: normal;
		font-weight: 800;
		line-height: 18px; /* 128.571% */
		color: #F90!important;
		font-family: $font-family--primary !important;

		display: flex;
		//padding: 15px 18px 12px 18px;
		align-items: center;
		gap: 10px;
	}
	
	a + a {
		margin: 36px 0 0 0;
		 display: inline-block;
		 padding: 1em;
		 background: rgba(#f90,.1)
	}
	a + a:hover {
		background: rgba(#f90,.6)
	}
	div {
    	padding: 42px;
		border-top: 1px solid;
	}
}
.portfoliocard:hover {
	background: #fff;
	border: 1px solid #dedede;
	box-shadow: 4px 4px 18px #e6e6e6;
	transform: translateY(-4px);
	animation-timing-function: ease-out;
	animation-duration: 150ms;
	
	margin-top: -20px;
	  margin-bottom: 20px;
	  transition: .5s;
}



/*--------------

	About

*/
	#wrapper_about {
		background: $black;
	}

	#about {
		h3 {
			margin-bottom: 38px;
		}

		ul {

			text-align: left;
			width: 100%;
			//border: 1px solid red;

			float: left;
	    	width: 20%;
		}
		ul li:nth-child(1) {
			color: #717172;
			@include font-size(1.2);
			font-style: normal;
			font-weight: 800;
			line-height: 24px; /* 200% */
			letter-spacing: 2.88px;
			text-transform: uppercase;
		}
		a {
			position: relative;
		}
		a:after {
			border-bottom: 3px solid $white;
		}

	}


	.fancyunderline {
		color: #fff;
	}
	.fancyunderline:hover {
		 @include linkUnderlines(#100f1b, #ffffff);
	}

/*--------------

	Footer

*/

	.profile {
		display: flex;
		padding: 23px 35px;
		margin: 54px 0 0;
		align-items: center;
		gap: 36px;
		align-self: stretch;
		
		border-radius: 2px;
		border: 1px dashed #454545;
		
		img {
			width: 95px;
			height: 96px;
			
			border-radius: 0;
			border: 0 solid #757575;
		}
		p {
			flex: 1 0 0;
			font-size: 24px;
			font-style: normal;
			font-weight: 300;
			line-height: 36px; /* 150% */
			letter-spacing: 0.96px;
		}
	}
	
	.contact {
		margin: 18px 0 0 0;
		display: flex;
		align-items: center;
		gap: 8px;
		
		a {
			display: flex;
			padding: 18px 24px 15px 24px;
			justify-content: center;
			//align-items: center;
			gap: 18px;
			
			border-radius: 1px;
			background: #292929;
			
			font-size: 16px;
			font-style: normal;
			font-weight: 800;
			line-height: 18px; /* 112.5% */
			letter-spacing: 6.4px;
			text-transform: uppercase;
			color: #f90;
			border: 1px solid #292929;
		}
		a:hover {
			border: 1px solid rgba(#ff9900,100%);
		}
		.emailme {}
		.linkedin {}
	}
	
	.bestlists {
		
		
	}


	#footer {
		div {
			margin: 36px 0 0 0;
		}
		.legal,
		.copyright {
			@include font-size(1.2);
			letter-spacing: 0;
			font-family: $font-family--secondary;
			letter-spacing: 3.36px;
			text-transform: uppercase;
		}
		.copyright {
			float: right;
		}
		.legal {float:left;}
	}
