/*------------

	HEADER

*/

	#intro h1 {
		padding: 0;
		//margin: 12px 0 96px 0;
		text-align: left;

		//max-width: 590px;

		@include tablet {
			padding: 0; 
		}
		@include mobile {
			padding: 12px 0 0;
			margin: 12px 0 0 0;
		}
	}
	
	#intro a {}
	#intro a:hover {
		text-decoration: underline;
	}

	#intro svg {
		max-width:250px;
	}

	#intro img {
		//max-width: 200px;
		top: 0;
    	position: relative;
		border: 1px solid $lightblue;
		border-radius: 4px;
		@include mobile {
			//max-width: 120px;
		}
	}

	#intro p  {
		text-align: left;
		margin: 0;
		//padding: 0 172px;

		//max-width: 578px;
		//max-width: 14em;
		margin-top: 18px;
	}
	#intro h1 {}


	#trade {
		@include mobile {
			margin-bottom: 35px;
		}
	}
	
	h1.elegantshadow {
		margin-top: 6em;
	}

	/*
		jump to work link
		//dont style #jump
	*/

	#jump .btn {
		height: 40px;
		max-width: 260px;
		text-align: center;
		color: $darkblue;
		background: #141c27;
		display: block;
		padding: 8px 12px 4px;
		margin: auto;
 	 	position: relative;
  		left: 0;
  		bottom: -100px;
  		right: 0;
  		z-index: 1;
  		overflow: hidden;

		-webkit-transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
		transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
		@include mobile {
			bottom: -35px;
			height: 36px;
			max-width: 200px;
			}
		}
		#jump .btn:hover {
			/*
			left: 10px;
			padding: 2px 8px 2px 30px;.
			*/
			//background: $electricblue;
			//background: #186ffe;
			//color: $white;
			text-decoration: none;
			padding: 8px 49px 4px 12px;
		}

	#jump .btn:after {border: 1px solid transparent;
		background: url('../img/arrow_downward_white.svg') no-repeat;
		position: absolute;

		top: 12px;
		right: -100px;
		text-align: center;
		margin: 0;

		display: inline-block;
		content: '';
		height: 16px;
		width: 20px;
		transition: all 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
		transform: rotate(0deg);
		transform-origin: center center;
	}
	#jump .btn:hover:after {
		margin: 0;
		right: 18px;
	}



	h3 img {
    	position: absolute;
    	top: 0;
    	right: 0;
    	width: 660px;
		}


/* Reading Container for the Case Studies */
	.readingcontainer {
		@extend .clearfix;
	}
	.readingcontainer img {
		margin-top: 18px;
	}
	
	.readingcontainer ul {
		//display: inline-block;
		margin: 9px 0 0 24px;
		
		li {
			//display: inline-block;
			margin: 0;
			list-style: square;
		}
		
		span {
			display: inline;
		}
	}


		.content img {
			margin-bottom: 24px;
		}

		.colCenter {
    		position: relative;
    		background: red;
    		top: -230px;
    		z-index: 10000000000;
    		max-width: 640px;
    		margin: 0 auto;
    		padding: 6em 6em;
		}


.portfoliocard {
	border: 3px solid rgba(216, 201, 184, .2);
	
	
	border-style: solid;
	//border-image: linear-gradient(to right, darkgrey, grey) 1;
	  
	background: #FFF;
	//display: flex;
	//flex-direction: column;
	//align-items: center;
	overflow: hidden;
	border-radius: 0;
	//background: linear-gradient(137deg, #FFF 54.83%, #CCC 266.74%), var(--White, #FFF);
	position: relative;
	top: 0;
	
	// While hovering
	// Change to: "Variant2";
	// Animate: Smart animate;
	animation-timing-function: ease-out;
	animation-duration: 150ms;

	margin-top: -20px;
	margin-bottom: 20px;
	transition: 1s;
	
	img {
		position: relative;
		right: 0px;
		
	}
	h4 {
		@include font-size(2);
		font-style: normal;
		font-weight: normal;
		line-height: 1.5em; /* 100% */
		letter-spacing: -0.4px;
		color: $black;
		@include tablet {
			@include font-size(2);
		}
		@include mobile {
			@include font-size(2.4);
		}
		font-family: $font-family--secondary;
	}
	h4:before {
		/*
		display: block;
		content: 'Case Study';
		opacity: .6;
	
		font-family: $font-family--secondary;
		font-size: 6.222px;
		font-style: normal;
		font-weight: normal;
		line-height: 7.259px;
		letter-spacing: 4.667px;
		text-transform: uppercase;
		position: relative;
		top: -5px;
		*/

		@include tablet {
			@include font-size(1.0);
			font-style: normal;
			font-weight: normal;
			line-height: 12px; /* 116.667% */
			letter-spacing: 6px;
			text-transform: uppercase;
	
			position: relative;
    		top: 0px;
    		margin: 0 0 12px 0;
		}
	}
	a {
		font-size: 0;
		font-style: normal;
		font-weight: 400;
		line-height: 0; /* 128.571% */
		color: #B96F00!important;
		color:$blue!important;;
		font-family: $font-family--primary !important;

		display: block;
		//border-radius: 4px;
		//padding: 15px 18px 12px 18px;
		align-items: center;
		gap: 10px;
		
		@include tablet {
			display: flex;
		}
	}
	a + a {
		font-size: 12px;
		line-height: 12px;
		margin: 12px 0 24px 0;
		display: inline-block;
		padding: 1.5em;
		background: rgba(#f90,.2);
		width: 100%;
		text-align: center;
		border: 1px solid rgba(#f90,0);		
		letter-spacing: 1px;
		
		@include tablet {
			letter-spacing: 2px;
			margin: 36px 0 0 0;
			padding: 18px 10px 14px; 
		}
		@include mobile {
			 
		}
	}
	a + a:hover {
		background: rgba(#7d84b2,.6);
		color: rgba($white,1);
		}
	div {
    	padding: 0 1em 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 250px;
		//border: 1px solid #ececec;
		//border-top: 0 solid #eaeaea;
		  
		@include tablet {
			padding: 0 24px 24px;
		}
	}
}
.portfoliocard:hover {
	background: #fff;
	border: 3px solid rgba($lightblue, 1);
	box-shadow: 1px 1px 8px #6468a6;
	transform: translateY(-4px);
	animation-timing-function: ease-out;
	animation-duration: 50ms;
	
	margin-top: -20px;
	margin-bottom: 20px;
	margin-left: 5px;
	margin-right: -5px;
	
	transition: .5s;
	border-radius: 0;
	
//	border-width: 1px;
//	border-style: solid;
//	border-image: linear-gradient(to right, darkgrey, grey) 1;

	a + a {
		background: rgba(#f90,.1);
		border: 1px solid rgba(#f90,.1);
		-webkit-transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
		transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
	
	}
	a + a:hover {
		color: #7d84b2!important;
		border: 1px solid rgba(206, 210, 236, 0.4);
		background:rgba(#7d84b2,.2);
		

		

	}

}
.casestudy {
	margin-top: 36px!important;
}

.cases {
	max-width: 650px;
	max-width: 65em;
	margin: 36px 0 0 0;
	padding: 18px 0 36px;
	width: 100%;
	min-width: 0;
	//border-top: 3px solid #eaeaea;
	
	@include tablet {}
	@include mobile {
		padding-right:18px;
		padding-left:18px;
	}
	h4 {
		font-family: $font-family--secondary; 
		font-size: 54px;
		font-style: normal;
		font-weight: 400;
		line-height: 1; /* 100% */
		opacity: .8;
		margin-top: 0;	
		padding: 1em 0 0;
		
		  max-width: 92%;
		  
		  @include mobile {
			  font-size: 36px;
		  }
	}
	ul {
		margin-top: 18px;
	}
	li {
		font-family: $font-family--primary; 
		font-size: 16px;
		font-style: normal;
		font-weight: 800;
		line-height: 16px;
		
		transform: translateX(0);
		animation-timing-function: ease-out;
		animation-duration: 150ms;
		margin-top: 4px;
		
		border-radius:0;
		border: 3px solid rgba(216, 201, 184, 0.1);
		
		transition: transform 550ms;
		will-change: transform;
		a {
			color: $black;
			display: block;
			
			//background: $white;
			padding: 1.5em;
			border-radius:12px;
			font-weight: normal;
		}
		span {
			display: block;
			font-family: $font-family--secondary;
			@include font-size(1.2);
			opacity: .5;
			margin-top: 4px;
			font-weight: normal;
		}
		a:hover {
			border-color:$black;
			color: #000;
			text-decoration: none;
		}
	}
	li:hover {
		
		transition: transform 125ms;
		transform: translateX(8px);
		
		border: 3px solid rgba(#7d84b2, 1);
		box-shadow: 4px 4px 0px #6468a6;
		transform: translateX(4px);
		
		background: #fff;
		border: 3px solid rgba($lightblue, 1);
		box-shadow: 1px 1px 8px #6468a6;
	}
	/*
	li:before {
		content: 'Case Study';
		font-family: $font-family--secondary; 
		display: block;
		font-size: 10px;
		font-style: normal;
		font-weight: 300;
		line-height: 24px; 
		opacity: .6;
	}
	*/
	a:hover {
		text-decoration: underline;
	}
	
	.active {
		display: none;
	}
	
}

.sidebyside {
	display: flex;
	min-height:247px;
	gap: 10px;
	justify-content: space-between;
	  
	  img {
		  width:50%;
	  }
	  
	 @include tablet{
		 
	 }
	 @include mobile {
		 display: block;
		 height:auto;
	 }
}

/*--------------

	About

*/
	#wrapper_about {
		background: $black;
	}

	#about {
		h3 {
			margin-bottom: 38px;
		}

		ul {

			text-align: left;
			width: 100%;
			//border: 1px solid red;

			float: left;
	    	width: 20%;
		}
		ul li:nth-child(1) {
			color: #717172;
			@include font-size(1.2);
			font-style: normal;
			font-weight: 800;
			line-height: 24px; /* 200% */
			letter-spacing: 2.88px;
			text-transform: uppercase;
		}
		a {
			position: relative;
		}
		a:after {
			border-bottom: 3px solid $white;
		}

	}


	.fancyunderline {
		@include linkUnderlines(#fff, $lightblue);
	}
	
	.fancyunderline:hover {
		 @include linkUnderlines(#fff, $lightblue);
	}

/*--------------

	Footer

*/
	footer a {
		color:color(display-p3 0.974 0.82 0.631);
		font-family: $font-family--secondary!important;
	}
	footer a:hover {
		@include linkUnderlines(#100f1b,#f90);
		
	}

	.profile {
		//display: flex;
		//padding: 36px 36px;
		margin: 0 0 0;
		align-items: center;
		//gap: 36px;
		align-self: stretch;
		
		//border-radius: 12px;
		//border: 3px solid rgba(#7d84b2,.3);
		//background: #29292B;
		//background: linear-gradient(274deg, rgb(41, 43, 53) 8.55%, rgba(255, 244, 232, 0) 226.89%);
		
		img {
			width: 95px;
			height: 96px;
			
			border-radius: 0;
			border: 0 solid #757575;
		}
		p {
			flex: 1 0 0;
			font-size: 18px;
			font-style: normal;
			font-weight: 300;
			line-height: 27px; /* 150% */
			letter-spacing: 0px;
			@include mobile {
				font-size: 12px;
				font-style: normal;
				font-weight: 300;
				line-height: 1.5; /* 150% */
			}
		}
	}
	
	.contact {
		margin: 18px 0 0 0;
		display: flex;
		align-items: center;
		gap: 8px;
		
		a {
			display: flex;
			padding: 18px 24px 15px 24px;
			justify-content: center;
			//align-items: center;
			gap: 18px;
			
			border-radius: 12px;
			background: #292929;
			
			font-size: 16px;
			font-style: normal;
			font-weight: 800;
			line-height: 18px; /* 112.5% */
			letter-spacing: 6.4px;
			text-transform: uppercase;
			color: #f90;
			border: 1px solid #292929;
		}
		a:hover {
			border: 1px solid rgba(#ff9900,100%);
		}
		.emailme {}
		.linkedin {}
	}
	
	.bestlists {
		
	}


	footer {
		div {
			margin: 0 0 0 0;
		}
		.legal,
		.copyright {
			@include font-size(1);
			font-family: $font-family--secondary;
		}
		.copyright {
			letter-spacing: 2px;
		}
		.legal {
		
		}
	}


.callout {
	//border: 1px solid rgba($black,.4);
	//background: rgba($black,.04);
	padding: 0;
	//max-width: 240px;
	margin: 4em 0 0 0;
	border-radius: 4px;
	h3 {
	
	}
	h4 {
		font-size: 32px;
		font-family: $font-family--secondary;
		font-weight: 300;
		max-width: 50%;
	}
	h5 {
		font-size: 18px;
		line-height: 1;
	}
	p {
		font-size:14px;
		line-height: 1.5;
	}
}

.projectdetails {
	margin: 12px 0 0 0!important;
	padding-left: 0!important; 
}
.projectdetails li {
	list-style: none !important;
	line-height: 1.5;
}




.ui-accordion .ui-accordion-header {
  padding: 2em 3em;
  border-radius: 12px ;
  font-size: 18px;
  font-family: $font-family--primary;
  
  background: $white url( '../images/arrow-down.svg' ) no-repeat;
  background-position:90% 36px;
  	
  transition: .5s;
  border: 3px solid rgba(216, 201, 184, .2);
}
.ui-accordion .ui-accordion-header:hover {
	border-color: $black;	
}

.accordion span {
  display: block;
  font-size: 9px;
  font-family: $font-family--secondary;
  letter-spacing: 4px;
  text-transform: uppercase;
  
}

.accordion svg {
  position: absolute;
  right: 24px;
  top: 28px;
}

 .ui-accordion .ui-accordion-content{
	  box-sizing:content-box;             
	  -moz-box-sizing:content-box;
}

.ui-accordion .ui-accordion-header.ui-accordion-header-active  {
	border-radius: 12px 12px 0 0!important;
	background: $white url( '../images/arrow-up.svg' ) no-repeat;
	background-position:90% 36px;	
	border-bottom: 0;
	border-radius: 0;
	
}
.ui-accordion .ui-accordion-header.ui-accordion-header-active:hover {
	background: $white url( '../images/arrow-up.svg' ) no-repeat;
	background-position:90% 36px;
	border: 3px solid rgba(216, 201, 184, .2);
	border-bottom: 0;
	color: $blue;
}
.ui-accordion .ui-accordion-content.ui-accordion-content-active {	
}




/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

	.bx-wrapper {
		position: relative;
		margin: 0 auto 40px;
		padding: 0;
		*zoom: 1;

		-ms-touch-action: pan-y;
		touch-action: pan-y;
	}

	.bx-wrapper img {
		max-width: 100%;
		display: block;
	}

	.bxslider {
		margin: 0;
		padding: 0;
	}

	ul.bxslider {
		list-style: none;
	}

	.bx-viewport {
		/*fix other elements on the page moving (on Chrome)*/
		-webkit-transform: translatez(0);
	}

/** THEME
===================================*/

	.bx-wrapper .bx-viewport {

		left: 0;
		background: $black;

		max-width: 612px;
		width: 612px;
		margin: 0;

		overflow: hidden;
		padding: 0;
		position: relative;
		vertical-align: top;

		/*fix other elements on the page moving (on Chrome)*/
		-webkit-transform: translatez(0);
		-moz-transform: translatez(0);
			-ms-transform: translatez(0);
			-o-transform: translatez(0);
			transform: translatez(0);
	}

	.bx-wrapper .bx-pager,
	.bx-wrapper .bx-controls-auto {
		position: absolute;
		bottom: -30px;
		width: 100%;
	}

/* LOADER */

	.bx-wrapper .bx-loading {
		min-height: 50px;
		background: url(../img/bx_loader.gif) center center no-repeat #fff;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2000;
	}

/* PAGER */

	.bx-wrapper .bx-pager {
		text-align: center;
		font-size: .85em;
		font-family: Arial;
		font-weight: bold;
		color: #666;
		padding-top: 20px;
	}

	.bx-wrapper .bx-pager .bx-pager-item,
	.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
		display: inline-block;
		*zoom: 1;
		*display: inline;
	}

	.bx-wrapper .bx-pager.bx-default-pager a {
		background: #666;
		text-indent: -9999px;
		display: block;
		width: 10px;
		height: 10px;
		margin: 0 5px;
		outline: 0;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}

	.bx-wrapper .bx-pager.bx-default-pager a:hover,
	.bx-wrapper .bx-pager.bx-default-pager a.active {
		background: #000;
	}

/* DIRECTION CONTROLS (NEXT / PREV) */
	.bx-wrapper .bx-prev {
		left: 0;
		background: url('../img/controls1.png') no-repeat 0 0;
	}
	.bx-wrapper .bx-prev:hover,
	.bx-wrapper .bx-prev:focus {
		background-position: 0 -78px;
	}
	.bx-wrapper .bx-next {
		right: 0;
		background: url('../img/controls2.png') no-repeat 0 0;
	}
	.bx-wrapper .bx-next:hover,
	.bx-wrapper .bx-next:focus {
		background-position: 0 -78px;
	}
	.bx-wrapper .bx-controls-direction a {
		position: absolute;
		top: 50%;
		margin-top: -16px;
		outline: 0;
		width: 44px;
		height: 78px;
		text-indent: -9999px;
		z-index: 9999;
	}
	.bx-wrapper .bx-controls-direction a.disabled {
		display: none;
	}

/* AUTO CONTROLS (START / STOP) */

	.bx-wrapper .bx-controls-auto {
		text-align: center;
	}

	.bx-wrapper .bx-controls-auto .bx-start {
		display: block;
		text-indent: -9999px;
		width: 10px;
		height: 11px;
		outline: 0;
		background: url(images/controls.png) -86px -11px no-repeat;
		margin: 0 3px;
	}

	.bx-wrapper .bx-controls-auto .bx-start:hover,
	.bx-wrapper .bx-controls-auto .bx-start.active {
		background-position: -86px 0;
	}

	.bx-wrapper .bx-controls-auto .bx-stop {
		display: block;
		text-indent: -9999px;
		width: 9px;
		height: 11px;
		outline: 0;
		background: url(images/controls.png) -86px -44px no-repeat;
		margin: 0 3px;
	}

	.bx-wrapper .bx-controls-auto .bx-stop:hover,
	.bx-wrapper .bx-controls-auto .bx-stop.active {
		background-position: -86px -33px;
	}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

	.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
		text-align: left;
		width: 80%;
	}

	.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
		right: 0;
		width: 35px;
	}

/* IMAGE CAPTIONS */

	.bx-wrapper .bx-caption {
		position: absolute;
		bottom: 0;
		left: 0;
		background: #666\9;
		background: rgba(80, 80, 80, 0.75);
		width: 100%;
	}

	.bx-wrapper .bx-caption span {
		color: #fff;
		font-family: Arial;
		display: block;
		font-size: .85em;
		padding: 10px;
	}





/* ----------- Timeline -------------------*/

	.timeline {
		margin: 72px 0 72px 0;
		font-family: $font-family--secondary;
		clear: both;
	}
	.timeline li {
		font-family: $font-family--secondary;
	}
	.timeline h3 {
		font-size:12px; 
		letter-spacing: 4px;
		text-transform: uppercase;
		margin:42px 0 24px 0;
		opacity: .8;
		font-family: $font-family--primary;
	}
	.timeline .row {
		display: flex;
		align-items:flex-start;
		margin:24px 0 0 0;
	}
	.timeline .row h4 {
		flex: 4%;
		vertical-align: top;
		margin:10px 0 0 0;
		font-size:14px;
		opacity: .6;
		letter-spacing: -1px;
		color: $blue;
		display:block;
		
		@include mobile {
			flex: 15%;
		}
	}
	.timeline .row ul {
		flex: 90%;
		margin:0 0 0 0;
		
		@include mobile {
			flex: 85%;
		}
	}
	.timeline .row ul li {list-style: "-";padding: 0 0 0 1px;margin:6px 0 0 0px;font-size:18px;color: #4E526C;}
	.timeline li:hover {
		
	}
	.timeline .row ul li span {
		display: block;
		font-size: 14px;
		line-height: 1.5;
		color: #4E526C;
		opacity: 1;
	}
	.timeline .row a {
		color: $black;
		text-decoration: none;
	}
	.timeline .row a:hover {
		color: $lightblue;
		text-decoration:none;
		line-break: 3;
	}
	header {margin-top: 72px;}
	header img {
		float:left;
		max-width: 90px;
		
		@include mobile {
			margin-right: 4px;
			max-width: 70px;
		}
	}
	header .title {
		float:left;border: 0 solid red;
		margin: 50px 0 0 20px;
		
		@include mobile {margin: 0 0 0 0;}
	}
	header h1 {margin: 0;line-height: 1;}
	.title h1 a:hover {text-decoration:none!important;}
	h1 .name {
		font-size: 30px;
		text-transform: 
		capitalize;
		color:$lightblue;
		
		background: -webkit-linear-gradient(color(display-p3 0.494 0.518 0.694),$lightblue);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		
	}

	.location {
		font-size: 12px;
		letter-spacing: 4px;
		text-transform: capitalize;
		color: #575C7E;
		font-weight: normal;
		font-family: $font-family--secondary; 
		padding: 0 0 0 4px;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	.container.grid {
		max-width: 76em;
		margin:72px auto 00;
		@extend .clearfix;
		
		@include mobile {
			margin:0 auto 00;
			padding: 1em;
		}
	}
	.container.grid p {
		font-family: $font-family--secondary; 
	}
	.grid-sizer,
	.grid-item { 
			float: left;
		    width: 33%;
			//max-height:600px;
		    //height: 400px;
		    animation-timing-function: ease-out;
			animation-duration: 150ms;	
			
			img {
				//border-radius: 5px;
				border: 1px solid rgb(223, 223, 223);
				animation-timing-function: ease-out;
				animation-duration: 150ms;
			}
			img:hover {
				//box-shadow:2px 2px 14px #000;
				animation-timing-function: ease-out;
				animation-duration: 150ms;
			}
		  
	   }
	  .grid-item:hover {
		  position: relative;
		 
		  animation-timing-function: ease-out;
		  animation-duration: 150ms;
	  }
	.grid-item--width2 {width: 65%; }
	.grid-item--width3 {width: 100%; }
	.grid-item--height2 { height: 400px; }


.recentlycompleted {
	@extend .clearfix;
	
	a {
		line-height: 1;
		display: block;
	}
	
	img {
		border: 3px solid rgba(216, 201, 184, .2);
		
		animation-timing-function: ease-out;
		animation-duration: 150ms;
		
		margin-top: -20px;
		margin-bottom: 20px;
		transition: 1s;
	}
	img:hover {
		background: #fff;
		  border: 3px solid rgba($lightblue, 1);
		  box-shadow: 1px 1px 8px #6468a6;
		  transform: translateY(-4px);
		  animation-timing-function: ease-out;
		  animation-duration: 50ms;
		  
		  margin-top: -20px;
		  margin-bottom: 20px;
		  margin-left: 5px;
		  margin-right: -5px;
		  
		  transition: .5s;
		  border-radius: 0;
	}
	h3 {
		padding: 36px 0 36px;
	}
	
}
.button {
	  //background: rgba($blue,.1);
	  color: $blue;
	  padding: 1em 1.5em .8em;
	  float: right;
	  font-family: "PPFormula-Extrabold", "Helvetica", Helvetica, Arial, sans-serif;
	  font-size: 12px;
	  letter-spacing: 1px;
	  margin-top:-12px;
	  background: url('../assets/images/svg/Chevron Down Arrow.svg') no-repeat;
  }
  .button:hover {
	  background: rgba($lightblue,.2);
	  color: $lightblue;
	  
	 
  }