@font-face {
  font-family: "PPFormula-Extrabold";
  src: url("webfonts/PPFormula-Extrabold.woff");
  src: url("webfonts/PPFormula-Extrabold.woff?#iefix") format("embedded-opentype"), url("webfonts/PPFormula-Extrabold.woff2") format("woff2"), url("webfonts/PPFormula-Extrabold.woff") format("woff"), url("webfonts/PPFormula-Extrabold.tff") format("truetype");
}
@font-face {
  font-family: "PPFormula-Regular";
  src: url("webfonts/PPFormula-Regular.woff");
  src: url("webfonts/PPFormula-Regular.woff?#iefix") format("embedded-opentype"), url("webfonts/PPFormula-Regular.woff2") format("woff2"), url("webfonts/PPFormula-Regular.woff") format("woff"), url("webfonts/PPFormula-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "PPEiko-Regular";
  src: url("webfonts/PPEiko-Regular.woff");
  src: url("webfonts/PPEiko-Regular.woff?#iefix") format("embedded-opentype"), url("webfonts/PPEiko-Regular.woff2") format("woff2"), url("webfonts/PPEiko-Regular.woff") format("woff"), url("webfonts/PPEiko-Regular.ttf") format("truetype");
}
img {
  max-width: inherit !important;
}
